@page
@{}

<div class="card" style="margin: 1rem;">
    <div class="card-body">
        <h5 class="card-title">Thank you for your submission!</h5>

        <a href="https://perfsports.com/">Return to website</a>
    </div>
</div>
